.interactive {
	transition: 0.25s ease;
	transition-property: transform;
	backface-visibility: hidden;
}
.interactive:hover, .interactive:focus-visible, .interactive:focus-within {
	transform: scale(1.05);
}

#centerer-div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	
    transition: visibility 0.25s ease, transform 0.25s ease;
	backface-visibility: hidden;

	display: flex;
	justify-content: center;
	align-items: center;

	pointer-events: none;
}
#centerer-div.hidden {
	visibility: hidden;
	transform: translateY(-100%);
}

#upgrade-ability-popup {
	width: min(90vw, 750px);
	height: min(90vh, 150px);
	padding: 5px;
	padding-bottom: 10px;
	
	opacity: 0.9;
	background-color: var(--background-color-2);
	border: 2px var(--text-color);
	border-style: none solid solid solid;
	border-radius: 0 0 25px 25px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;

	pointer-events: all;
}
#upgrade-ability-popup h2 {
	text-align: center;
	margin: 0;
}
#abilities-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
#abilities-list button {
	height: 40px;
	border-radius: 100vh;
	border: 1px solid var(--text-color);
	background-color: var(--primary-color);

	cursor: pointer;

	transition: all 0.25s ease-in-out;
	backface-visibility: hidden;

	font-size: 20px;
	padding: 0 10px;
}
#abilities-list button:hover, #abilities-list button:focus-visible {
	transform: scale(1.1);
}
#abilities-list button:active {
	transform: scale(1.05);
}
