#board {
	position: absolute;
	transition: all 0.5s ease;
}
#board-crop-offset {
	position: absolute;
	
	width: min-content;
	height: min-content;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;

	width: max-content;
	height: min-content;
}

.tile {
	padding: 0;
	margin: 0;
}