.interactive {
	transition: 0.25s ease;
	transition-property: transform, border, background-color, color;
	backface-visibility: hidden;
}
.interactive:hover, .interactive:focus-visible, .interactive:focus-within {
	transform: scale(1.05);
}

#home {
	width: 225px;
	height: 200px;
	min-width: min(60vh, 90vw);
	min-height: 75vh;
	max-width: 90vw;
	max-height: 90vh;

	background-color: var(--background-color-2);
	border-radius: 5vh;
	border: 3px solid var(--text-color);

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#title h1 {
	margin: 0;
	padding-right: 0.5rem;
}

#input-div {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
#name-input {
	width: 75%;
	border-radius: 100vh;
	border: 1px solid var(--text-color);
	background-color: var(--background-color);
	
	font-size: 25px;
	text-align: center;
} 
#name-input:focus {
	outline: none;
	transform: scale(1.05);
}
#color-label {
	width: 35px;
	height: 35px;
	border-radius: 10px;
	border: 1px solid var(--text-color);

	cursor: pointer;
}
#color-label:focus-within {
	outline: 5px auto Highlight;
	outline: 5px auto -webkit-focus-ring-color; 
	transform: scale(1.05);
}
#color-input {
	opacity: 0;
	pointer-events: none;
	
	width: 100%;
	height: 100%;
	padding: 0;
}

#play-button {
	width: 50%;
	height: 50px;
	border-radius: 100vh;
	border: 1px solid var(--text-color);
	background-color: var(--primary-color);

	cursor: pointer;

	transition: all 0.25s ease-in-out;
	backface-visibility: hidden;

	font-size: 25px;
}
#play-button:hover, #play-button:focus-visible {
	transform: scale(1.1);
}
#play-button:active {
	transform: scale(1.05);
}