.light {
	--text-color: #000000;
	--background-color: #F2F4F3;
	--background-color-2: #FFF2D7;
	--primary-color: #78C3CE;
	--secondary-color: #f28a8f;
	--tertiary-color: #F9DD4D;
}

.dark {
	--text-color: #F2F4F3;
	--background-color: #000000;
	--background-color-2: #302D21;
	--primary-color: #266069;
	--secondary-color: #9B4647;
	--tertiary-color: #625304;
}