.interactive {
	transition: 0.25s ease;
	transition-property: transform, right, visibility;
	backface-visibility: hidden;
}
.interactive:hover, .interactive:focus-visible {
	transform: scale(1.1);
}

#keybinds-panel {
	position: absolute;
	right: 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 85%;
	margin-right: 10%;
	height: 100%;

	border: 1px var(--text-color);
	border-left-style: solid;
	border-collapse: collapse;
}
#keybinds-panel:hover, #keybinds-panel:focus-within {
	transform: scale(1.05);
}
#keybinds-panel.hidden {
	right: 100%;
	visibility: hidden;
}
#keybinds-panel tbody {
	display: table;
	width: 100%;
}
#keybinds-title {
	display: flex;
	padding: 0 5px;
	
	align-self: flex-start;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 5px;

	width: 100%;
}
#keybinds-title h3 {
	margin: 0;
	padding: 5px;
}
#keybinds-title button {
	border-radius: 100vh;
	border: 1px var(--text-color) solid;

	cursor: pointer;
	
	padding: 2.5px 5px;
}
#keybinds-title #new-button {
	background-color: var(--primary-color);
}
#keybinds-title #sort-button {
	background-color: var(--tertiary-color);
}
#keybinds-title #reset-button {
	background-color: var(--secondary-color);
}
#keybinds-title button:hover, #keybinds-title button:focus-visible {
	transform: scale(1.1);
}
#keybinds-title button:active {
	transform: scale(1.05);
}

#keybinds {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 100%;

	overflow-y: auto;
}