.interactive {
	transition: 0.25s ease;
	transition-property: transform, border, background-color, opacity, bottom;
	backface-visibility: hidden;
	
	opacity: 0.75;
}
.interactive:hover, .interactive:focus-visible {
	transform: scale(1.1);

	opacity: 1;
}

#theme-manager {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000;

	margin: 2px;

	transition: height 0.25s ease;
}
#theme-manager img {
	height: 100%;
	width: auto;
}
#theme-manager button {
	box-sizing: border-box;
	height: 35px;
	width: min-content;
	padding: 2px;
	left: 0; right: 0;
	margin: 2.5px auto 2.5px auto;

	border-radius: 5px;
	border: 2px solid transparent;
	background-color: transparent;

	cursor: pointer;

	position: absolute;
	bottom: -40px;
}
#theme-manager button:active {
	transform: scale(1.05);
}
#theme-manager button.selected {
	border: 2px solid var(--text-color) !important;
	background-color: var(--background-color-2);
	opacity: 1;

	bottom: 0;
}
#theme-manager:hover, #theme-manager.visible, #theme-manager:focus-within {
	height: 120px;

	#light {
		bottom: 80px;
	}
	#system {
		bottom: 40px;
	}
	#dark {
		bottom: 0px;
	}
}