.interactive {
	transition: all 0.25s ease-in-out;
	backface-visibility: hidden;
}
.interactive:hover {
	transform: scale(1.1);
}

#theme-manager {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 2px;
}
#theme-manager img {
	height: 35px;
	width: auto;
	border-radius: 5px;
	box-sizing: border-box;

	padding: 2px;
	margin: 2px;
}
.active {
	border: 2px solid var(--text-color);
	background-color: var(--background-color-2);
}