.interactive {
	transition: 0.25s ease;
	transition-property: opacity, transform, bottom, left;
	backface-visibility: hidden;
}
.interactive:hover, .interactive:focus-visible {
	transform: scale(1.1);
}

#settings-icon {
	position: absolute;
	top: 0px;
	right: 0px;

	height: 27.8px;
	width: auto;
	padding: 5px;

	border-radius: 5px;
}

#settings-panel {
	transition: 0.375s ease;
	opacity: 0.85;

	position: fixed;
	left: calc(37.8px - min(300px, 80vw));
	bottom: calc(37.8px - min(350px, 100vh));
	z-index: 1000;

	width: 300px;
	height: 350px;
	max-width: 80vw;
	max-height: 100vh;
	background-color: var(--background-color-2);
	border-radius: 0 15px 0 0;
	border: 2px var(--text-color);
	border-style: solid solid none none;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
#settings-panel:hover, #settings-panel:focus-within {
	left: 0px;
	bottom: 0px;

	opacity: 1;
	transform: none !important;
}
